**По результатам тестирования моделей победил Лес. Показатели линейной регрессии - 0.5, Gradient Booster - 0,6, Random Forest - 0,7. ТАкже в сети я почитала материалы и изи них следует, что для задач линейной регрессии (кроме изображений), случайный лес, пожалуй, лучшее решение. Вот его и берем. Даю ему имя Дон Родриго! :))**

In [1]:
import numpy as np
import pandas as pd
import pickle

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score as r2

In [2]:
from sklearn.model_selection import train_test_split

In [81]:
from sklearn.decomposition import PCA

**Сохранение обогащенного одним признаком стандартизированного датасета**

In [154]:
REACH_DATASET_PATH_TRAIN = 'train_reach.csv'
REACH_DATASET_PATH_TEST = 'test_reach.csv'

In [166]:
train_df_new.to_csv(REACH_DATASET_PATH_TRAIN, index=False, encoding='utf-8')
test_df_new.to_csv(REACH_DATASET_PATH_TEST, index=False, encoding='utf-8')

**Подгружаем обогащенные датасеты**

In [167]:
train_df_new = pd.read_csv(REACH_DATASET_PATH_TRAIN)
train_df_new.head()

,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,...,Helthcare_2,Shops_1,Price,Ecology_2_A,Ecology_2_B,Ecology_3_A,Ecology_3_B,Shops_2_A,Shops_2_B,MedPriceByDistrict
0,-0.353348,0.136936,-0.438288,-0.397294,-0.610372,-0.195659,-0.628008,-0.861847,-0.250529,0.474169,...,-0.883480,2.483346,184966.930730,0,1,0,1,0,1,207786.135836
1,-0.215687,1.368379,0.578863,0.468259,0.311710,-0.195659,-0.628008,-0.372982,-0.998053,1.215681,...,-0.213923,-0.111514,300009.450063,0,1,0,1,0,1,300009.450063
2,0.059635,0.136936,-0.612597,-0.417298,-0.610372,0.020874,-0.164784,-0.916166,-0.581588,0.531208,...,-0.213923,-0.111514,220925.908524,0,1,0,1,0,1,263206.223152
3,0.174352,0.136936,-0.129649,1.503153,0.772750,0.020874,0.607256,-0.427301,2.680470,-0.096225,...,-0.883480,0.537201,175616.227217,0,1,0,1,0,1,166809.665642
4,1.115034,-1.094506,-0.917060,-0.859707,-0.149331,0.670472,-0.164784,-0.481619,-0.894969,0.588247,...,0.455633,0.212843,150226.531644,0,1,0,1,0,1,158539.052715

In [168]:
test_df_new = pd.read_csv(REACH_DATASET_PATH_TEST)
test_df_new.head()

,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,...,Healthcare_1,Helthcare_2,Shops_1,Ecology_2_A,Ecology_2_B,Ecology_3_A,Ecology_3_B,Shops_2_A,Shops_2_B,MedPriceByDistrict
0,0.174352,0.136936,-0.329053,-0.071693,-0.610372,-0.412192,0.144032,-0.698892,1.607652,-0.780698,...,-0.080886,-0.883480,-1.084587,0,1,0,1,0,1,166809.665642
1,0.541447,0.136936,0.784541,-0.124859,-0.610372,-0.195659,-1.863272,-0.427301,-0.361948,-1.065895,...,-0.080886,-0.883480,-0.435872,0,1,0,1,0,1,243031.695525
2,3.202888,-1.094506,-2.413956,-2.107238,2.155872,-1.278323,-1.245640,-4.120947,-0.998641,0.303050,...,-0.080886,2.464303,0.537201,0,1,0,1,0,1,195474.299127
3,-0.078026,0.136936,1.001934,1.438631,0.772750,3.052334,1.379296,1.202249,-0.142708,-0.096225,...,-0.080886,1.125190,-0.111514,0,1,0,1,0,1,222227.584211
4,-0.536895,-1.094506,-0.464400,0.740653,-0.610372,1.969670,0.607256,1.745433,-0.392373,-1.294053,...,-0.080886,-0.883480,-1.084587,0,1,0,1,1,0,118327.090620

**Пути к стандартизированным файлам не обогащенным**

In [3]:
SCALER_FILE_PATH_train = 'train_scaler.csv'
SCALER_FILE_PATH_test = 'test_scaler.csv'

In [4]:
df_train_scaled = pd.read_csv(SCALER_FILE_PATH_train)
df_train_scaled.head(10)

,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,...,Healthcare_1,Helthcare_2,Shops_1,Price,Ecology_2_A,Ecology_2_B,Ecology_3_A,Ecology_3_B,Shops_2_A,Shops_2_B
0,-0.353348,0.136936,-0.438288,-0.397294,-0.610372,-0.195659,-0.628008,-0.861847,-0.250529,0.474169,...,-0.080886,-0.883480,2.483346,184966.930730,0,1,0,1,0,1
1,-0.215687,1.368379,0.578863,0.468259,0.311710,-0.195659,-0.628008,-0.372982,-0.998053,1.215681,...,-1.279100,-0.213923,-0.111514,300009.450063,0,1,0,1,0,1
2,0.059635,0.136936,-0.612597,-0.417298,-0.610372,0.020874,-0.164784,-0.916166,-0.581588,0.531208,...,-1.299070,-0.213923,-0.111514,220925.908524,0,1,0,1,0,1
3,0.174352,0.136936,-0.129649,1.503153,0.772750,0.020874,0.607256,-0.427301,2.680470,-0.096225,...,0.253162,-0.883480,0.537201,175616.227217,0,1,0,1,0,1
4,1.115034,-1.094506,-0.917060,-0.859707,-0.149331,0.670472,-0.164784,-0.481619,-0.894969,0.588247,...,2.057745,0.455633,0.212843,150226.531644,0,1,0,1,0,1
5,0.197295,1.368379,1.423564,1.009631,2.155872,-0.628725,0.607256,1.419523,1.601602,0.588247,...,0.082507,-0.883480,0.861558,215898.447742,0,1,0,1,0,1
6,2.376924,0.136936,0.381804,0.232492,-0.149331,-1.061791,-1.245640,-1.350712,2.870953,-0.267344,...,-0.080886,-0.213923,0.537201,296021.204377,0,1,0,1,0,1
7,0.541447,0.136936,1.419452,-0.124859,-0.610372,1.320071,0.607256,-0.427301,-0.361948,-1.065895,...,-0.080886,-0.883480,-0.435872,221244.156664,0,1,0,1,0,1
8,-1.133425,0.136936,0.511509,-0.124859,-0.610372,0.237407,0.607256,-0.427301,-0.938799,-1.351093,...,-0.080886,-0.883480,-0.760229,229102.795999,0,1,0,1,0,1
9,-0.628669,-1.094506,-0.525635,-1.256351,0.311710,1.103538,0.607256,1.582478,-0.361948,-1.065895,...,-0.080886,-0.883480,-0.435872,95380.220993,0,1,0,1,0,1

In [5]:
df_test_scaled = pd.read_csv(SCALER_FILE_PATH_test)
df_test_scaled.head(10)

,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,...,Social_3,Healthcare_1,Helthcare_2,Shops_1,Ecology_2_A,Ecology_2_B,Ecology_3_A,Ecology_3_B,Shops_2_A,Shops_2_B
0,0.174352,0.136936,-0.329053,-0.071693,-0.610372,-0.412192,0.144032,-0.698892,1.607652,-0.780698,...,-0.519769,-0.080886,-0.883480,-1.084587,0,1,0,1,0,1
1,0.541447,0.136936,0.784541,-0.124859,-0.610372,-0.195659,-1.863272,-0.427301,-0.361948,-1.065895,...,0.234394,-0.080886,-0.883480,-0.435872,0,1,0,1,0,1
2,3.202888,-1.094506,-2.413956,-2.107238,2.155872,-1.278323,-1.245640,-4.120947,-0.998641,0.303050,...,-0.142688,-0.080886,2.464303,0.537201,0,1,0,1,0,1
3,-0.078026,0.136936,1.001934,1.438631,0.772750,3.052334,1.379296,1.202249,-0.142708,-0.096225,...,0.234394,-0.080886,1.125190,-0.111514,0,1,0,1,0,1
4,-0.536895,-1.094506,-0.464400,0.740653,-0.610372,1.969670,0.607256,1.745433,-0.392373,-1.294053,...,-0.519769,-0.080886,-0.883480,-1.084587,0,1,0,1,1,0
5,0.059635,-1.094506,-0.858082,-0.124859,-0.610372,2.835801,1.224888,-0.427301,-0.581588,0.531208,...,-0.896851,-1.299070,-0.213923,-0.111514,0,1,0,1,0,1
6,-0.628669,0.136936,0.717679,2.491496,-0.610372,-1.278323,0.607256,-0.427301,-0.361948,-1.065895,...,0.234394,-0.080886,-0.883480,-0.435872,0,1,0,1,0,1
7,-0.422178,0.136936,-0.426087,-0.118626,-0.610372,-0.628725,0.144032,-0.698892,0.141089,1.215681,...,1.365639,-1.079398,1.125190,2.483346,0,1,0,1,0,1
8,1.046203,1.368379,0.957719,0.951288,0.772750,1.969670,0.607256,0.659066,-0.653181,1.614957,...,0.611476,-0.080886,-0.213923,0.212843,0,1,0,1,0,1
9,-1.018708,1.368379,1.414078,1.089320,0.772750,1.103538,0.607256,1.582478,1.044763,-1.122935,...,-0.896851,-0.734457,-0.883480,-1.084587,0,1,0,1,0,1

**Отделяем целевую переменную**

In [7]:
y = df_train_scaled['Price']

In [8]:
y.head()

0    184966.930730
1    300009.450063
2    220925.908524
3    175616.227217
4    150226.531644
Name: Price, dtype: float64

**Формируем признаки**

In [9]:
X_train = df_train_scaled.drop(['Price'], axis=1)

In [10]:
X_train.head()

,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,...,Social_3,Healthcare_1,Helthcare_2,Shops_1,Ecology_2_A,Ecology_2_B,Ecology_3_A,Ecology_3_B,Shops_2_A,Shops_2_B
0,-0.353348,0.136936,-0.438288,-0.397294,-0.610372,-0.195659,-0.628008,-0.861847,-0.250529,0.474169,...,0.988557,-0.080886,-0.883480,2.483346,0,1,0,1,0,1
1,-0.215687,1.368379,0.578863,0.468259,0.311710,-0.195659,-0.628008,-0.372982,-0.998053,1.215681,...,-0.519769,-1.279100,-0.213923,-0.111514,0,1,0,1,0,1
2,0.059635,0.136936,-0.612597,-0.417298,-0.610372,0.020874,-0.164784,-0.916166,-0.581588,0.531208,...,-0.896851,-1.299070,-0.213923,-0.111514,0,1,0,1,0,1
3,0.174352,0.136936,-0.129649,1.503153,0.772750,0.020874,0.607256,-0.427301,2.680470,-0.096225,...,0.234394,0.253162,-0.883480,0.537201,0,1,0,1,0,1
4,1.115034,-1.094506,-0.917060,-0.859707,-0.149331,0.670472,-0.164784,-0.481619,-0.894969,0.588247,...,-0.519769,2.057745,0.455633,0.212843,0,1,0,1,0,1

In [11]:
X_test = df_test_scaled

In [12]:
X_test.head()

,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,...,Social_3,Healthcare_1,Helthcare_2,Shops_1,Ecology_2_A,Ecology_2_B,Ecology_3_A,Ecology_3_B,Shops_2_A,Shops_2_B
0,0.174352,0.136936,-0.329053,-0.071693,-0.610372,-0.412192,0.144032,-0.698892,1.607652,-0.780698,...,-0.519769,-0.080886,-0.883480,-1.084587,0,1,0,1,0,1
1,0.541447,0.136936,0.784541,-0.124859,-0.610372,-0.195659,-1.863272,-0.427301,-0.361948,-1.065895,...,0.234394,-0.080886,-0.883480,-0.435872,0,1,0,1,0,1
2,3.202888,-1.094506,-2.413956,-2.107238,2.155872,-1.278323,-1.245640,-4.120947,-0.998641,0.303050,...,-0.142688,-0.080886,2.464303,0.537201,0,1,0,1,0,1
3,-0.078026,0.136936,1.001934,1.438631,0.772750,3.052334,1.379296,1.202249,-0.142708,-0.096225,...,0.234394,-0.080886,1.125190,-0.111514,0,1,0,1,0,1
4,-0.536895,-1.094506,-0.464400,0.740653,-0.610372,1.969670,0.607256,1.745433,-0.392373,-1.294053,...,-0.519769,-0.080886,-0.883480,-1.084587,0,1,0,1,1,0

# Тестируем Лес еще раз

**1. На всем**

In [103]:
forest = RandomForestRegressor(n_estimators=100, random_state=42)

In [104]:
X_train_all, X_test_all, y_train_all, y_test_all = train_test_split(X_train, y, test_size=0.2, shuffle=True, random_state=42)

In [105]:
forest.fit(X_train_all, y_train_all)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [106]:
y_pred_train_all = forest.predict(X_train_all)

In [107]:
r2_score = r2(y_train_all, y_pred_train_all)
r2_score

0.960593482278281

In [108]:
y_pred_test_all = forest.predict(X_test_all)

In [109]:
r2_score = r2(y_test_all, y_pred_test_all)
r2_score

0.7108489078553043

**2. Пробуем удалить бинарные млаочисленные признаки**

In [110]:
X_train_wb = X_train.drop(['Ecology_2_A','Ecology_3_A', 'Shops_2_A'], axis=1)

In [111]:
X_test_wb = df_test_scaled.drop(['Ecology_2_A','Ecology_3_A', 'Shops_2_A'], axis=1)

In [112]:
X_train_wb, X_test_wb, y_train_wb, y_test_wb = train_test_split(X_train_wb, y, test_size=0.2, shuffle=True, random_state=42)

In [113]:
forest.fit(X_train_wb, y_train_wb)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [114]:
y_pred_train_wb = forest.predict(X_train_wb)

In [115]:
r2_score = r2(y_train_wb, y_pred_train_wb)
r2_score

0.9607796894279547

In [116]:
y_pred_test_wb = forest.predict(X_test_wb)

In [117]:
r2_score = r2(y_test_wb, y_pred_test_wb)
r2_score

0.7117897234365113

**3. Оставляем только значимые признаки**

In [118]:
f_imp_forest = pd.DataFrame(zip(X_train.columns, forest.feature_importances_), 
                                   columns=['feature_name', 'importance'])

f_imp_forest.sort_values(by='importance', ascending=False)

     feature_name  importance
2          Square    0.369167
9        Social_1    0.106006
1           Rooms    0.098961
10       Social_2    0.089658
0      DistrictId    0.057962
8       Ecology_1    0.045907
7       HouseYear    0.040365
3      LifeSquare    0.032012
11       Social_3    0.031486
5           Floor    0.026208
4   KitchenSquare    0.025730
6      HouseFloor    0.024954
12   Healthcare_1    0.024193
14        Shops_1    0.013602
13    Helthcare_2    0.011393
17    Ecology_3_A    0.001175
16    Ecology_2_B    0.000682
15    Ecology_2_A    0.000538

In [119]:
forest_imp = ['Square','Ecology_1', 'Rooms', 'DistrictId','HouseYear', 'HouseFloor', 'Social_1', 'Social_2',
             'LifeSquare', 'KitchenSquare', 'Floor']

In [120]:
forest.fit(
    X_train_all.loc[:, forest_imp],
    y_train_all
)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [121]:
y_pred_train_all_import = forest.predict(X_train_all.loc[:, forest_imp])

In [122]:
r2_score = r2(y_train_all, y_pred_train_all_import)
r2_score

0.9592613895547564

In [123]:
y_pred_test_all_import = forest.predict(X_test_all.loc[:, forest_imp])

In [124]:
r2_score = r2(y_test_all, y_pred_test_all_import)
r2_score

0.7039611413768303

**4. Удаляем бинарные малочисленные и линейно-зависимые с минимальным весом.Такими призаками оказались LifeSquare и Socail_2.
Повторяем результат и дорабатываем модель**

In [125]:
X_train_wb_lin = X_train.drop(['Ecology_2_A','Ecology_3_A', 'Shops_2_A', 'LifeSquare', 'Social_2'], axis=1)

In [126]:
X_test_wb_lin = X_test.drop(['Ecology_2_A','Ecology_3_A', 'Shops_2_A', 'LifeSquare', 'Social_2'], axis=1)

In [127]:
X_train_wb_lin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DistrictId     10000 non-null  float64
 1   Rooms          10000 non-null  float64
 2   Square         10000 non-null  float64
 3   KitchenSquare  10000 non-null  float64
 4   Floor          10000 non-null  float64
 5   HouseFloor     10000 non-null  float64
 6   HouseYear      10000 non-null  float64
 7   Ecology_1      10000 non-null  float64
 8   Social_1       10000 non-null  float64
 9   Social_3       10000 non-null  float64
 10  Healthcare_1   10000 non-null  float64
 11  Helthcare_2    10000 non-null  float64
 12  Shops_1        10000 non-null  float64
 13  Ecology_2_B    10000 non-null  int64
 14  Ecology_3_B    10000 non-null  int64
 15  Shops_2_B      10000 non-null  int64
dtypes: float64(13), int64(3)
memory usage: 1.2 MB

In [128]:
X_test_wb_lin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DistrictId     5000 non-null   float64
 1   Rooms          5000 non-null   float64
 2   Square         5000 non-null   float64
 3   KitchenSquare  5000 non-null   float64
 4   Floor          5000 non-null   float64
 5   HouseFloor     5000 non-null   float64
 6   HouseYear      5000 non-null   float64
 7   Ecology_1      5000 non-null   float64
 8   Social_1       5000 non-null   float64
 9   Social_3       5000 non-null   float64
 10  Healthcare_1   5000 non-null   float64
 11  Helthcare_2    5000 non-null   float64
 12  Shops_1        5000 non-null   float64
 13  Ecology_2_B    5000 non-null   int64
 14  Ecology_3_B    5000 non-null   int64
 15  Shops_2_B      5000 non-null   int64
dtypes: float64(13), int64(3)
memory usage: 625.1 KB

In [129]:
X_train_wb_lin, X_test_wb_lin, y_train_wb_lin, y_test_wb_lin = train_test_split(X_train_wb_lin, y, test_size=0.2, shuffle=True, random_state=42)

In [130]:
forest.fit(X_train_wb_lin, y_train_wb_lin)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [131]:
y_pred_train_wb_lin = forest.predict(X_train_wb_lin)

In [132]:
r2_score = r2(y_train_wb_lin, y_pred_train_wb_lin)
r2_score

0.9603417154081612

In [133]:
y_pred_test_wb_lin = forest.predict(X_test_wb_lin)

In [134]:
r2_score = r2(y_test_wb_lin, y_pred_test_wb_lin)
r2_score

0.7101219487551473

**Пробуем понизить размерность**

In [82]:
pca = PCA(random_state=42)

In [83]:
pca.fit(X_train_all)

PCA(copy=True, iterated_power='auto', n_components=None, random_state=42,
    svd_solver='auto', tol=0.0, whiten=False)

In [92]:
pca.explained_variance_ratio_[:12].sum()

0.9447431911822975

Я посмотрела, 12 - в целом минимально-достаточно. Если брать больше - то смысла нет.

In [93]:
pca = PCA(n_components=12, random_state=42)

In [94]:
X_train_pca_forest = pca.fit_transform(X_train_all)
X_test_pca_forest = pca.transform(X_test_all)

In [95]:
forest.fit(X_train_pca_forest, y_train_all)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [96]:
y_pred_train_pca_forest = forest.predict(X_train_pca_forest)

In [97]:
r2_score = r2(y_train_all, y_pred_train_pca_forest)
r2_score

0.9534739094555689

In [98]:
y_pred_test_pca_forest = forest.predict(X_test_pca_forest)

In [99]:
r2_score = r2(y_test_all, y_pred_test_pca_forest)
r2_score

0.643057104302487

**Лучший результат на текущем этапе - без малочисленных бинарных**

# Попробуем новый признак MedPriceByDistrict

In [160]:
med_price_by_district = df_train_scaled.groupby(['DistrictId', 'Rooms'], as_index=False).agg({'Price':'median'})\
                        .rename(columns={'Price':'MedPriceByDistrict'})

med_price_by_district.head()

   DistrictId     Rooms  MedPriceByDistrict
0   -1.156369 -1.094506       142799.434052
1   -1.156369  0.136936       176210.812334
2   -1.156369  1.368379       300610.359425
3   -1.133425 -1.094506       146735.671740
4   -1.133425  0.136936       202666.310126

In [161]:
train_df_new = df_train_scaled.merge(med_price_by_district, on=['DistrictId', 'Rooms'], how='left')
train_df_new.head()

,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,...,Helthcare_2,Shops_1,Price,Ecology_2_A,Ecology_2_B,Ecology_3_A,Ecology_3_B,Shops_2_A,Shops_2_B,MedPriceByDistrict
0,-0.353348,0.136936,-0.438288,-0.397294,-0.610372,-0.195659,-0.628008,-0.861847,-0.250529,0.474169,...,-0.883480,2.483346,184966.930730,0,1,0,1,0,1,207786.135836
1,-0.215687,1.368379,0.578863,0.468259,0.311710,-0.195659,-0.628008,-0.372982,-0.998053,1.215681,...,-0.213923,-0.111514,300009.450063,0,1,0,1,0,1,300009.450063
2,0.059635,0.136936,-0.612597,-0.417298,-0.610372,0.020874,-0.164784,-0.916166,-0.581588,0.531208,...,-0.213923,-0.111514,220925.908524,0,1,0,1,0,1,263206.223152
3,0.174352,0.136936,-0.129649,1.503153,0.772750,0.020874,0.607256,-0.427301,2.680470,-0.096225,...,-0.883480,0.537201,175616.227217,0,1,0,1,0,1,166809.665642
4,1.115034,-1.094506,-0.917060,-0.859707,-0.149331,0.670472,-0.164784,-0.481619,-0.894969,0.588247,...,0.455633,0.212843,150226.531644,0,1,0,1,0,1,158539.052715

In [162]:
test_df_new = df_test_scaled.merge(med_price_by_district, on=['DistrictId', 'Rooms'], how='left')

In [163]:
test_df_new.head()

,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,...,Healthcare_1,Helthcare_2,Shops_1,Ecology_2_A,Ecology_2_B,Ecology_3_A,Ecology_3_B,Shops_2_A,Shops_2_B,MedPriceByDistrict
0,0.174352,0.136936,-0.329053,-0.071693,-0.610372,-0.412192,0.144032,-0.698892,1.607652,-0.780698,...,-0.080886,-0.883480,-1.084587,0,1,0,1,0,1,166809.665642
1,0.541447,0.136936,0.784541,-0.124859,-0.610372,-0.195659,-1.863272,-0.427301,-0.361948,-1.065895,...,-0.080886,-0.883480,-0.435872,0,1,0,1,0,1,243031.695525
2,3.202888,-1.094506,-2.413956,-2.107238,2.155872,-1.278323,-1.245640,-4.120947,-0.998641,0.303050,...,-0.080886,2.464303,0.537201,0,1,0,1,0,1,NaN
3,-0.078026,0.136936,1.001934,1.438631,0.772750,3.052334,1.379296,1.202249,-0.142708,-0.096225,...,-0.080886,1.125190,-0.111514,0,1,0,1,0,1,222227.584211
4,-0.536895,-1.094506,-0.464400,0.740653,-0.610372,1.969670,0.607256,1.745433,-0.392373,-1.294053,...,-0.080886,-0.883480,-1.084587,0,1,0,1,1,0,118327.090620

In [164]:
test_df_new.loc[test_df_new['MedPriceByDistrict'].isnull(), 'MedPriceByDistrict'] = train_df_new['MedPriceByDistrict'].median()

In [165]:
test_df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   DistrictId          5000 non-null   float64
 1   Rooms               5000 non-null   float64
 2   Square              5000 non-null   float64
 3   LifeSquare          5000 non-null   float64
 4   KitchenSquare       5000 non-null   float64
 5   Floor               5000 non-null   float64
 6   HouseFloor          5000 non-null   float64
 7   HouseYear           5000 non-null   float64
 8   Ecology_1           5000 non-null   float64
 9   Social_1            5000 non-null   float64
 10  Social_2            5000 non-null   float64
 11  Social_3            5000 non-null   float64
 12  Healthcare_1        5000 non-null   float64
 13  Helthcare_2         5000 non-null   float64
 14  Shops_1             5000 non-null   float64
 15  Ecology_2_A         5000 non-null   int64
 16  Ecology_2_B         5000 non-null   int64
 17  Ecology_3_A         5000 non-null   int64
 18  Ecology_3_B         5000 non-null   int64
 19  Shops_2_A           5000 non-null   int64
 20  Shops_2_B           5000 non-null   int64
 21  MedPriceByDistrict  5000 non-null   float64
dtypes: float64(16), int64(6)
memory usage: 898.4 KB

In [145]:
y_new = train_df_new['Price']
y_new.head()

0    184966.930730
1    300009.450063
2    220925.908524
3    175616.227217
4    150226.531644
Name: Price, dtype: float64

In [147]:
X_new_tr = train_df_new.drop(['Price'], axis=1)
X_new_tr.head()

,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,...,Healthcare_1,Helthcare_2,Shops_1,Ecology_2_A,Ecology_2_B,Ecology_3_A,Ecology_3_B,Shops_2_A,Shops_2_B,MedPriceByDistrict
0,-0.353348,0.136936,-0.438288,-0.397294,-0.610372,-0.195659,-0.628008,-0.861847,-0.250529,0.474169,...,-0.080886,-0.883480,2.483346,0,1,0,1,0,1,207786.135836
1,-0.215687,1.368379,0.578863,0.468259,0.311710,-0.195659,-0.628008,-0.372982,-0.998053,1.215681,...,-1.279100,-0.213923,-0.111514,0,1,0,1,0,1,300009.450063
2,0.059635,0.136936,-0.612597,-0.417298,-0.610372,0.020874,-0.164784,-0.916166,-0.581588,0.531208,...,-1.299070,-0.213923,-0.111514,0,1,0,1,0,1,263206.223152
3,0.174352,0.136936,-0.129649,1.503153,0.772750,0.020874,0.607256,-0.427301,2.680470,-0.096225,...,0.253162,-0.883480,0.537201,0,1,0,1,0,1,166809.665642
4,1.115034,-1.094506,-0.917060,-0.859707,-0.149331,0.670472,-0.164784,-0.481619,-0.894969,0.588247,...,2.057745,0.455633,0.212843,0,1,0,1,0,1,158539.052715

In [204]:
X_new_test = test_df_new

**Пробуем предсказать на всем**

In [148]:
X_train_train_new, X_test_train_new, y_train_train_new, y_test_train_new = train_test_split(X_new_tr, y_new, test_size=0.2, shuffle=True, random_state=42)

In [149]:
forest.fit(X_train_train_new, y_train_train_new)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [150]:
y_pred_train_new = forest.predict(X_train_train_new)

In [151]:
r2_score = r2(y_train_train_new, y_pred_train_new)
r2_score

0.9650261709971883

In [152]:
y_pred_test_new = forest.predict(X_test_train_new)

In [153]:
r2_score = r2(y_test_train_new, y_pred_test_new)
r2_score

0.7295856321978527

**Пробуем убрать малочисленные бинарыне признаки из обогащенного датасета**

In [184]:
train_df_new.head()

,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,...,Helthcare_2,Shops_1,Price,Ecology_2_A,Ecology_2_B,Ecology_3_A,Ecology_3_B,Shops_2_A,Shops_2_B,MedPriceByDistrict
0,-0.353348,0.136936,-0.438288,-0.397294,-0.610372,-0.195659,-0.628008,-0.861847,-0.250529,0.474169,...,-0.883480,2.483346,184966.930730,0,1,0,1,0,1,207786.135836
1,-0.215687,1.368379,0.578863,0.468259,0.311710,-0.195659,-0.628008,-0.372982,-0.998053,1.215681,...,-0.213923,-0.111514,300009.450063,0,1,0,1,0,1,300009.450063
2,0.059635,0.136936,-0.612597,-0.417298,-0.610372,0.020874,-0.164784,-0.916166,-0.581588,0.531208,...,-0.213923,-0.111514,220925.908524,0,1,0,1,0,1,263206.223152
3,0.174352,0.136936,-0.129649,1.503153,0.772750,0.020874,0.607256,-0.427301,2.680470,-0.096225,...,-0.883480,0.537201,175616.227217,0,1,0,1,0,1,166809.665642
4,1.115034,-1.094506,-0.917060,-0.859707,-0.149331,0.670472,-0.164784,-0.481619,-0.894969,0.588247,...,0.455633,0.212843,150226.531644,0,1,0,1,0,1,158539.052715

In [185]:
test_df_new.head()

,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,...,Healthcare_1,Helthcare_2,Shops_1,Ecology_2_A,Ecology_2_B,Ecology_3_A,Ecology_3_B,Shops_2_A,Shops_2_B,MedPriceByDistrict
0,0.174352,0.136936,-0.329053,-0.071693,-0.610372,-0.412192,0.144032,-0.698892,1.607652,-0.780698,...,-0.080886,-0.883480,-1.084587,0,1,0,1,0,1,166809.665642
1,0.541447,0.136936,0.784541,-0.124859,-0.610372,-0.195659,-1.863272,-0.427301,-0.361948,-1.065895,...,-0.080886,-0.883480,-0.435872,0,1,0,1,0,1,243031.695525
2,3.202888,-1.094506,-2.413956,-2.107238,2.155872,-1.278323,-1.245640,-4.120947,-0.998641,0.303050,...,-0.080886,2.464303,0.537201,0,1,0,1,0,1,195474.299127
3,-0.078026,0.136936,1.001934,1.438631,0.772750,3.052334,1.379296,1.202249,-0.142708,-0.096225,...,-0.080886,1.125190,-0.111514,0,1,0,1,0,1,222227.584211
4,-0.536895,-1.094506,-0.464400,0.740653,-0.610372,1.969670,0.607256,1.745433,-0.392373,-1.294053,...,-0.080886,-0.883480,-1.084587,0,1,0,1,1,0,118327.090620

In [186]:
y_new_b = train_df_new['Price']
y_new_b.head()

0    184966.930730
1    300009.450063
2    220925.908524
3    175616.227217
4    150226.531644
Name: Price, dtype: float64

In [188]:
X_new_b_train = train_df_new.drop(['Price', 'Ecology_2_A', 'Ecology_3_A', 'Shops_2_A'], axis=1)

In [189]:
X_new_b_test = train_df_new.drop(['Ecology_2_A', 'Ecology_3_A', 'Shops_2_A'], axis=1)

In [190]:
X_train_train_new_b, X_test_train_new_b, y_train_train_new_b, y_test_train_new_b = train_test_split(X_new_b_train, y_new_b, test_size=0.2, shuffle=True, random_state=42)

In [191]:
forest.fit(X_train_train_new_b, y_train_train_new_b)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [192]:
y_pred_train_new_b = forest.predict(X_train_train_new_b)

In [193]:
r2_score = r2(y_train_train_new_b, y_pred_train_new_b)
r2_score

0.9650924692860597

In [194]:
y_pred_test_new_b = forest.predict(X_test_train_new_b)

In [195]:
r2_score = r2(y_test_train_new_b, y_pred_test_new_b)
r2_score

0.7294552887574316

**Все же лучше ничего не удалять, а применить новый агрегированный признак**

# Докурчиваем лес

In [200]:
from sklearn.model_selection import KFold, GridSearchCV

In [201]:
from sklearn.ensemble import RandomForestClassifier

In [198]:
parameters = {
    'n_estimators': [100, 150, 200, 250, 300, 400],
    'max_features': np.arange(12, 22),
    'max_depth': np.arange(10, 20),
    'min_samples_leaf':np.arange(1, 7),
}

In [202]:
gs = GridSearchCV(forest, parameters, scoring='r2', cv=KFold(n_splits=3, random_state=42, shuffle=True), n_jobs=-1)

In [203]:
gs.get_params().keys()

dict_keys(['cv', 'error_score', 'estimator__bootstrap', 'estimator__ccp_alpha', 'estimator__criterion', 'estimator__max_depth', 'estimator__max_features', 'estimator__max_leaf_nodes', 'estimator__max_samples', 'estimator__min_impurity_decrease', 'estimator__min_impurity_split', 'estimator__min_samples_leaf', 'estimator__min_samples_split', 'estimator__min_weight_fraction_leaf', 'estimator__n_estimators', 'estimator__n_jobs', 'estimator__oob_score', 'estimator__random_state', 'estimator__verbose', 'estimator__warm_start', 'estimator', 'iid', 'n_jobs', 'param_grid', 'pre_dispatch', 'refit', 'return_train_score', 'scoring', 'verbose'])

##gs.fit(X_new_tr, y_new)

In [206]:
gs.best_params_

{'max_depth': 18,
 'max_features': 13,
 'min_samples_leaf': 2,
 'n_estimators': 300}

In [207]:
gs.best_score_

0.7541165186981846

**Честно говоря, "из коробки" было гораздо лучше - 0.96... Поэтому оставляю коробочную версию леса**

# Предсказываем на тесте

In [212]:
y_pred_test = forest.predict(X_new_test)

In [224]:
y_pred_test.shape

(5000,)

**Подгружаем изначальный файл test, чтобы добавить удаленный столбец ID**

In [221]:
DATASET_PATH_TEST = 'test.csv'

In [225]:
df_start_test = pd.read_csv(DATASET_PATH_TEST)

In [226]:
df_start_test.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2
0,725,58,2.0,49.882643,33.432782,6.0,6,14.0,1972,0.310199,B,B,11,2748,1,NaN,0,0,B
1,15856,74,2.0,69.263183,NaN,1.0,6,1.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B
2,5480,190,1.0,13.597819,15.948246,12.0,2,5.0,1909,0.000000,B,B,30,7538,87,4702.0,5,5,B
3,15664,47,2.0,73.046609,51.940842,9.0,22,22.0,2007,0.101872,B,B,23,4583,3,NaN,3,3,B
4,14275,27,1.0,47.527111,43.387569,1.0,17,17.0,2017,0.072158,B,B,2,629,1,NaN,0,0,A

**Создаем финальный датафрейм**

In [227]:
predictions_test = pd.DataFrame({
    "Id": df_start_test["Id"],
    "y_pred": y_pred_test.flatten(),
})

predictions_test.head(10)

      Id         y_pred
0    725  157945.343464
1  15856  238711.289237
2   5480  183495.064002
3  15664  316964.671843
4  14275  150737.079304
5   7633  220401.390845
6  13329  169258.734229
7   5502  231664.601970
8   4220  305147.939807
9  11538  209548.737365

**Сохраняем в файл**

In [229]:
PREDICTION_PATH_TEST = 'Grudeva_predictions.csv'

In [230]:
predictions_test.to_csv(PREDICTION_PATH_TEST, index=False, encoding='utf-8')

**На всякий случай подгружаем, чтобы проверить**

In [231]:
DATASET_PATH_TEST_CHECK = 'Grudeva_predictions.csv'

In [232]:
pd.read_csv(DATASET_PATH_TEST_CHECK)

         Id         y_pred
0       725  157945.343464
1     15856  238711.289237
2      5480  183495.064002
3     15664  316964.671843
4     14275  150737.079304
...     ...            ...
4995   8180  244591.542962
4996   4695  128790.612622
4997   5783  317233.425668
4998   4780  193322.214802
4999  12504  174975.628090

[5000 rows x 2 columns]

**Ну вот, вроде бы все... :) Как справился мой Дон Родриго??? **